.Main {
  margin-top: 7em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid.ui.overlay.right.wide.visible.sidebar {
  margin-top: 75px !important;
  padding-bottom: 75px !important;
  overflow-y: hidden !important;
}

.topAssets {
  margin-right: 350px !important;
  padding-top: 25px !important;
}

.topHeader {
  padding-bottom: 20px !important;
}

.headerRow {
  overflow-y: hidden !important;
  text-align: center !important;
  align-items: center !important;
  padding-top: 20px !important;
}

.contentRow {
  height: 100%;
}

.App-footer {
  margin: 28px -14px 0px -14px !important;
  padding: 20px !important;
  background-color: #F7F7F7 !important;
  color: black !important;
}

.footer-text {
  color: black;
}